<!-- EXERCICE 01 : directive style -->
<!--Si rarity = 'Rare' => background-color: #FFD700 -->
<!-- Sinon : background-color: #e1e1e1 -->
<mat-card
  class="light-description"
  cardHighlight
  highlightColor="white"
  (click)="onCardClick()">
  <mat-card-header [style.background-image]="getCardImageStyle(card.imageUrl)">
    <h2>{{ card.name }}</h2>
  </mat-card-header>
  <mat-card-content>
    <h3>
      {{ card.supertype }} {{ card.subtype ? '-' : '' }} {{ card.subtype }}
      <span class="chip right" *ngIf="card.supertype === 'Pokémon'">
        HP {{ card.hp }}
      </span>
    </h3>

    <p>{{ card.types }} {{ card.types.length ? '-' : '' }} {{ card.rarity }} </p>
  </mat-card-content>
</mat-card>
