.light-description {
  width: 100%;
  height: 100%;
  padding: 0px;
  cursor: pointer;
}

.light-description > mat-card-content {
  padding: 0.8em;
}

.light-description > mat-card-header > h2 {
  display: block;
  margin: 5px;;
  padding: 0.2em;
  color: #fff;
  border-radius: 0.6em;
  background-color: rgba(0, 0, 0, 0.6);
}

.light-description > mat-card-header {
  background-size: cover;
  background-position: 0 25%;
  height: 12em;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
}

.light-description > mat-card-header.team {
  height: 3.5em;
}

.chip {
  display: inline-block;
  padding: 10px 5px;
  font-size: 12px;
  line-height: 10px;
  border-radius: 25px;
  background-color: rgba(221, 11, 11, 0.5);
  color: #fff;
}
