mat-grid-list.cards-list {
  top: 50px;
  margin: 0 10px;
}

app-card-summary {
  width: 100%;
  height: 100%;
  padding: 0px;
}

.shadow:hover {
  box-shadow: 0px 0px 50px 7px grey;
}

.custom-table {
  border: solid 1px black;
  border-collapse: collapse;
  border-spacing: 0;
  width: 50%;
}
.custom-table thead th {
  background-color: gray;
  border: solid 1px black;
  color: white;
  padding: 10px;
  text-align: left;
}
.custom-table tbody td {
  border: solid 1px black;
  color: black;
  padding: 10px;
}

.custom-table tbody tr:hover {
  background-color: yellow;
  cursor: pointer;
}

.custom-radio-group {
  display: inline-flex;
  flex-direction: row;
}

.custom-radio-button {
  margin: 5px;
}
