<div [formGroup]="parentForm" *ngIf="parentForm">
  <div formArrayName="address">
    <div *ngFor="let item of parentForm.controls['address'].controls; let i = index;" [formGroupName]="i">
      <mat-form-field class="trading-input">
        <mat-label>Street</mat-label>
        <input matInput formControlName="street" id="street" type="text">
        <mat-error *ngIf="streetControl.dirty && streetControl.hasError('required')">
        Street is required
      </mat-error>
      </mat-form-field><br/>
      <mat-form-field class="trading-input">
        <mat-label>Postal Code</mat-label>
        <input matInput formControlName="postalCode" id="postalCode" type="text">
      </mat-form-field>
    </div>
  </div>
</div>
