<mat-toolbar color="primary">
  <a>
    Cards Exchange Platform
  </a>
  <span class="spacer"></span>
  <button mat-icon-button [routerLink]="['/cards', 'trading', 'new']" >
    <mat-icon>add</mat-icon>
  </button>
</mat-toolbar>
