<!-- EXERCICE 05 -->
<!-- Créer le formulaire d'échange de cartes -->
<!-- Ce formulaire a deux champs d'input texte, pour sélectionner les deux cartes à échanger -->
<!-- Ces deux champs sont obligatoires, doivent contenir un minimum de 3 caractères -->
<!-- et le nom saisi doit correspondre à une carte existante -->
<!-- Il a également un champ date, qui ne pourra contenir une date inférieure à la date du jour -->
<!-- Il doit afficher des messages d'erreur lorsqu'un champ est en erreur -->
<!-- (pour les messages d'erreur, voir mat-error de Angular Material (Input) -->
<!-- Le formulaire ne pourra pas être soumis tant qu'il ne sera pas valide -->
<!-- Lorsque le formulaire sera soumis, on affichera simplement les valeurs dans la console du navigateur -->

<!-- Formulaire géré par le template -->
<!-- we use a local variable #tradingForm -->
<!-- and give its value to the register method -->
<!-- <form>
  <h3 mat-dialog-title>New trading</h3>
  <div class="form-container">
    <mat-form-field class="trading-input">
      <mat-label>Card 1</mat-label>
      <input matInput name="card1" type="text">
    </mat-form-field>
    <mat-form-field class="trading-input">
      <mat-label>Card 2</mat-label>
      <input matInput type="text" name="card2">
    </mat-form-field>
  </div>
  <div>
    <button type="submit" mat-raised-button color="primary">Save</button>
  </div>
</form> -->

<!-- Formulaire géré par le code -->
<form>
  <h3 mat-dialog-title>New trading</h3>
  <div class="form-container">
    <mat-form-field class="trading-input">
      <mat-label>Card 1</mat-label>
      <input matInput id="card1" type="text">
    </mat-form-field>
    <mat-form-field class="trading-input">
      <mat-label>Card 2</mat-label>
      <input matInput id="card2" type="text">
    </mat-form-field>
    <mat-form-field class="trading-input">
      <mat-label>Date</mat-label>
      <input matInput id="date" type="date">
    </mat-form-field>
    <h3>Trader:</h3>
      <mat-radio-group>
        <mat-radio-button value="mr">Mr</mat-radio-button> &nbsp;
        <mat-radio-button value="ms">Mrs</mat-radio-button>
      </mat-radio-group>
      <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput id="name" type="text">
      </mat-form-field>
  </div>
  <div>
    <button mat-raised-button color="primary">Save</button>
  </div>
</form>

