/* You can add global styles to this file, and also import other style files */

// @import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import '~@angular/material/theming';
@include mat-core();

// Define a theme.
$primary: mat-palette($mat-deep-purple);
$accent:  mat-palette($mat-amber, A200, A100, A400);
$background-color: mat-palette($mat-gray, A100);

$theme: mat-light-theme($primary, $accent);

// Include all theme styles for the components.
@include angular-material-theme($theme);

html {
  font-family: Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

body {
  background-color: map_get($background-color, 100);
}

a {
  cursor: pointer;
  text-decoration: none;
  color: #039be5;
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
}


/** UTILS **/
.right {
  float: right;
  text-align: right;
}

.left {
  float: left;
}

.mat-grid-tile.text-right .mat-figure {
  justify-content: flex-end !important ;
}
